#map {
	height: 60%;
}

#vehicles_list, #search_vehicles_list{
	height: 66%;
	overflow-y: auto;
}

.infoDiv{
	height: 100%;
	width: 100%;
	/*	overflow-y: auto;
	overflow-x: hidden;*/
	line-height: 1.35;
	overflow: hidden;
	white-space: nowrap;
	overflow-x:hidden!important;
}

.formDetails{
	height: 150px
	/*	overflow-y: auto;
	overflow-x: hidden;*/
	line-height: 1.35;
	overflow: hidden;
	white-space: nowrap;
	overflow-x:hidden!important;
}

.linkButton{
	background:none!important;
	border:none; 
	padding:0!important;

	/*optional*/
	font-family:arial,sans-serif; /*input has OS specific font-family*/
	color:#069;
	text-decoration:underline;
	cursor:pointer;
}

.background-image{
	/*/object-mapper/public/assets/bg_images/mb2.jpg*/
	background: url("/objectmapper/public/assets/bg_images/mb2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	z-index: -1;

/*	background-position: center;
	background-attachment: fixed;       
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/


/*
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	/*animation-direction: alternate;*/*/

}
